<li>
	{{burger_name}}

	<button class="change-eaten" data-id="{{id}}" data-newate="{{ate}}">
		{{#if ate}}Eat up!{{else}}Make a new one!{{/if}}
	</button>
	
	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>
